global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog

    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend api_gateway

    bind *:10000

    acl blocked path_beg /docs
    acl blocked path_beg /redoc
    acl blocked path_beg /openapi.json
    acl blocked path_beg /metrics

    http-request deny if blocked

    default_backend sga_backend


backend sga_backend

    balance roundrobin

    option httpchk GET /api/v1/health

    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-For %[src]

    server api1 sga-api-private-1:10000 check
    server api2 sga-api-private-2:10000 check
    