global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    option forwardfor

    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend api_gateway
    bind *:10000

    acl docs path_beg /docs
    acl redoc path_beg /redoc
    acl openapi path /openapi.json
    acl metrics path_beg /metrics

    http-request deny if docs
    http-request deny if redoc
    http-request deny if openapi
    http-request deny if metrics

    default_backend sga_backend

backend sga_backend
    balance roundrobin

    option httpchk GET /api/v1/health
    http-check expect status 200

    server api1 sga-api-private-1:10000 check
    server api2 sga-api-private-2:10000 check
